; pcb config
[board]
mask_color = black
silk_color = white
material = FR4
thickness = 1.6
copper = 35um
layers = 2

[logo]
logo = /home/matt/matt@dygma.com/Dygma/Media/Logos/Dygma_logo_color.png

[meta]
name = raise-right-asym-pcb

